services: # this is the service definition for the PostgreSQL container
  postgres:  # this is the name of the service
    image: postgres:latest  
    container_name: postgres_container # this is the name of the container
    restart: always  # this ensures the container restarts automatically if it crashes
    environment: # environment variables for PostegreSQL configuration
      POSTGRES_USER: ${POSTGRES_USER} # PostgreSQL username
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}  # PostgreSQL password
      POSTGRES_DB: ${POSTGRES_DB}  # default database name
    ports: # port mapping between host and container
      - "${POSTGRES_PORT}:5432"  # maps host port to container port
    volumes: # volume mapping for data persistence
  
    healthcheck: #define a check after the container is running


volumes:   # named volume (which can be seen under the Volume section of the GUI) GUI stands for Graphical User Interface
  postgres_data:

    